@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

body {
    position: relative;
}

.wrapper_list {
    margin: 0 auto;
    width: 1190px;
    padding-top: 50px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    cursor: auto;
}

li {
background-color: #FFFFFF !important;
    font-family: 'Fira Sans', serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 16.2px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
    align-items: center;
    justify-content: left;
    width: 100%;
    border-top: none;
}

.item {
    position: relative;

}

.list-item {
    border: 1px solid #D3D8DF;
    height: 48px;
    display: flex;
align-items: center;
    justify-content: left;
}

.ellipse img {
    width: 8px;
    height: 4.62px;
}

.ellipse {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 22px;
    width: 22px;
    background: #FFFFFF;
    border: 1px solid #D3D8DF;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

.double_arrow {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    height: 20px;
    width: 30px;
}

.double_arrow img{
    height: 15px;
    right: 20px;
}

.sub_item {
    display: flex;
    border: 1px solid #D3D8DF;
    position: relative;
    margin-left:  46px;
    cursor: auto;
    width: 1142px;
    height: 35px;
    align-items: center !important;
}

.sub_item span {
    padding-left: 46px;
    font-family: Fira Sans, serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 14.04px;
    letter-spacing: 0px;
}

.highlight {
    border: 2px solid rgba(0, 102, 255, 0.7);
    box-shadow: 0 0 8px rgba(0, 102, 255, 0.7);
}

.blue_double_arrow {
    visibility: hidden;
}